option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wilko.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: wilko.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
commands:
  01_install:
    command: "pip install gunicorn==21.2.0"
